<ol>
  <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
  <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
  <li>Add a button which may only be clicked if the username is NOT an empty string</li>
  <li>Upon clicking the button, the username should be reset to an empty string</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
        <div class="form-group"><label for="username">Username:</label>
          <input type="username" class="form-control" id="username" [(ngModel)]="username">
        </div>
        <p>
          Entered username is {{username}}
        </p>
        <button type="submit" class="btn btn-default" [disabled]="getButtonStatus()" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
